<nav class="navbar">
  <div class="nav-container">
    <div class="nav-logo">
      <img src="/assets/FullLogo_Transparent_NoBuffer.png" alt="Argus Web Designs Logo" />
    </div>
    <ul class="nav-menu" [class.active]="isMenuOpen">
      <li>
        <a 
          routerLink="/" 
          class="nav-link"
          [class.active]="isActiveRoute('/')"
          (click)="closeMenu()"
        >
          Home
        </a>
      </li>
      <li>
        <a 
          routerLink="/about" 
          class="nav-link"
          [class.active]="isActiveRoute('/about')"
          (click)="closeMenu()"
        >
          About
        </a>
      </li>
      <li>
        <a href="#services" class="nav-link" (click)="closeMenu()">
          Services
        </a>
      </li>
      <li>
        <a href="#portfolio" class="nav-link" (click)="closeMenu()">
          Portfolio
        </a>
      </li>
      <li>
        <a href="#contact" class="nav-link" (click)="closeMenu()">
          Contact
        </a>
      </li>
    </ul>
    <div 
      class="nav-hamburger"
      [class.active]="isMenuOpen"
      (click)="toggleMenu()"
    >
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>
</nav>