<nav class="navbar">
  <div class="nav-container">
    <div class="nav-logo">
      <img src="/assets/images/IconOnly_Transparent_NoBuffer.png" alt="Argus Web Designs Logo" />
        <span>arguswebdesigns</span>
    </div>
    <ul class="nav-menu" [class.active]="isMenuOpen">
      <li>
        <a 
          routerLink="/" 
          class="nav-link"
          [class.active]="isActiveRoute('/')"
          (click)="closeMenu()"
        >
          Home
        </a>
      </li>
      <li>
        <a 
          routerLink="/about" 
          class="nav-link"
          [class.active]="isActiveRoute('/about')"
          (click)="closeMenu()"
        >
          About
        </a>
      </li>
      <li>
        <a 
          routerLink="/services" 
          class="nav-link"
          [class.active]="isActiveRoute('/services')"
          (click)="closeMenu()"
        >
          Services
        </a>
      </li>
      <li>
        <a 
          routerLink="/work" 
          class="nav-link"
          [class.active]="isActiveRoute('/work')"
          (click)="closeMenu()"
        >
          Work
        </a>
      </li>
      <li>
        <a 
          routerLink="/contact" 
          class="nav-link"
          [class.active]="isActiveRoute('/contact')"
          (click)="closeMenu()"
        >
          Contact
        </a>
      </li>
    </ul>
    <div 
      class="nav-hamburger"
      [class.active]="isMenuOpen"
      (click)="toggleMenu()"
    >
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>
</nav>